.page {
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.roomSidebar {
  flex: 1;
  background-color: grey;
  display: flex;
  flex-direction: column;
}

.addRoomButton {
  border: none;
  padding: 10px;
  cursor: pointer;
}

.roomsContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.messageArea {
  background-color: #ccc;
  flex: 4;
  display: flex;
  flex-direction: column;
}

.roomTitle {
  background-color: #333;
  color: white;
  text-align: center;
  flex: 2;
}

.messageHistory {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
  flex:17;
}

.messageForm {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
}

.textInput {
  flex: 9;
  border: none;
  padding: 10px;
}

.sendButton {
  flex: 1;
  border: none;
  padding: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}