.roomSidebar {
  float: left;
  width: 25%;
  height: 100%;
  background-color: grey;
  overflow-y: auto;
  position: fixed;
}
.roomName {
  width: 75%;
  height: 75px;
  background-color: #333;
  color: white;
  text-align: center;
  position: fixed;
  right: 0;
  z-index: 2;
}
.messageArea {
  min-height:100%;
  height: auto;
  background-color: #ccc;
  width: 75%;
  right: 0;
  position: absolute;
}
.messageForm {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
.textInput {
  flex: 9;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}
.sendButton {
  flex: 1;
  border: none;
  padding: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
}
.textInputArea {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #333;
}
.messageHistory {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  overflow: auto;
  width: 100%;
  height: auto;
  min-height: 50px;
  margin-top: 75px;
  border: 1px solid black;
  padding: 10px;
}