.roomSidebar {
  flex: 2;
  background-color: grey;
  display: flex;
  flex-direction: column;
}

.addRoomButton {
  border: none;
  padding: 10px;
  cursor: pointer;
}

.roomsContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
}