.roomCard {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
}

.roomCard:hover {
  background-color: #f0f0f0;
}

.roomName {
  flex: 1;
  text-align: center;
}

.roomCardUserImageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roomCardUserImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.roomCardDetailsContainer {
  display: flex;
  flex-direction: column;
  flex: 6;
}

.roomCardUserNameContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.roomCardUserName {
  flex: 1;
  font-weight: bold;
  text-align: left;
}

.roomCardTime {
  flex: 1;
  text-align: right;
}

.roomCardRecentMessageContainer {
  flex: 3;
}

.roomCardRecentMessage {
  text-align: left;
}